<section id="search-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row text-center">
        <form ng-submit="searchListings()">
          <input type="text" class="form-control" placeholder="Search for..." ng-model="motorcycle">
          <button class="btn btn-default" type="submit">Submit</button>
        </form>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="widget wviolet">
            <div ng-if="vm.searchListings.length < 1" ht-widget-header title="Search for Motorcycles" allow-collapse="true"></div>
            <div ng-if="vm.searchListings.length > 0" ht-widget-header title="'{{vm.query}}' Query Return" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <p ng-show="vm.searchListings == 0">No Data</p>
              <table class="table table-condensed table-striped" ng-hide="vm.searchListings == 0">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Price</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="i in vm.searchListings">
                    <td>
                      <a ng-show="vm.showURL(i.category)" ng-click="assembleBike(i.url, i.price, i.category)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                      <a ng-hide="vm.showURL(i.category)" ng-click="assembleBike(i.url.slice(35), i.price, i.category)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>
                    <td>{{i.title}}</td>
                    <td>
                      <a ng-show="vm.showURL(i.category)" href="{{i.url}}" target="_blank">{{i.url}}</a>
                      <a ng-hide="vm.showURL(i.category)" href="https://{{i.category}}/mcy/{{i.pid}}.html" target="_blank">https://{{i.category}}/mcy/{{i.pid}}.html</a>
                    </td>
                    <td>{{i.price}}</td>
                    <td>{{i.date.substring(0, 10)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- Modal Code -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <form name="modalForm" novalidate>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
          <h4 class="modal-title" id="myModalLabel"><b>{{vm.detail.title}}</b></h4>
        </div>
        <div class="modal-body">
          <!-- Data Goes Here -->
          <p ng-show="vm.detail.images[0] != ''"><img src="{{vm.detail.images[0]}}" class="img-thumbnail"></p>
          <p ng-show="vm.detail.description != ''"><i class="fa fa-info-circle" aria-hidden="true"></i> <b>Description</b></p>
          <p ng-show="vm.detail.description != ''">{{vm.detail.description.slice(25)}}</p>
          <p>&nbsp;</p>
          <table width="100%">
            <tr ng-show="vm.detail.pid != ''">
              <th width="20%"><i class="fa fa-hashtag" aria-hidden="true"></i> ID</th>
              <td ng-show="vm.showURL(vm.detail.category)"> <a target="_blank" href="{{vm.detail.url}}">{{vm.detail.pid}} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
              <td ng-hide="vm.showURL(vm.detail.category)"> <a target="_blank" href="https://{{vm.detail.category}}/mcy/{{vm.detail.pid}}.html">{{vm.detail.pid}} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
            </tr>
            <tr ng-show="vm.detail.postedAt != ''">
              <th width="20%"><i class="fa fa-clock-o" aria-hidden="true"></i> Posted</th>
              <td> {{vm.detail.postedAt.substring(0, 10)}}</td>
            </tr>
            <tr ng-show="vm.detail.mapUrl != ''">
              <th width="20%"><i class="fa fa-map-marker" aria-hidden="true"></i> Map</th>
              <td><a href="{{vm.detail.mapUrl}}" target="_blank">Open in Google Maps <i class="fa fa-external-link" aria-hidden="true"></i></a>
                  <br><a ng-show="vm.detail.mapUrl != null" ng-click="assembleMap(vm.detail.mapUrl)" target="_blank">Show Location <i class="fa fa-map" aria-hidden="true"></i></a></td>
            </tr>
            <tr ng-show="vm.detail.price != ''">
              <th width="20%"><i class="fa fa-usd" aria-hidden="true"></i> Price</th>
              <td> {{vm.detail.price}}</td>
            </tr>
          </table>
          <div ng-if="vm.detail.mapPic != null">
            <p>&nbsp;</p>
            <img src="{{vm.detail.mapPic}}" style="width: 100%; height: auto;" alt="Map of general area of listing." class="img-thumbnail">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" ng-disabled="vm.userName==undefined" ng-click="submitPost(vm.detail)" data-dismiss="modal">Save Post</button>
        </div>
      </div>
    </div>
  </form>
</div>
