<section id="saved-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="widget wviolet">
            <div ht-widget-header title="Saved Motorcycle Listings" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <p ng-show="vm.userName == undefined">Please Login to View and Save Data</p>
              <p ng-show="vm.listings == 0 && vm.userName">No Saved Data</p>
              <table class="table table-condensed table-striped" ng-hide="vm.listings == 0">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="l in vm.listings">
                    <td>
                      <a ng-click="showBike(l._id)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>
                    <td>{{l.title}}</td>
                    <td>
                      <a href="{{l.url}}" target="_blank">{{l.url}}</a>
                    </td>
                    <td>{{l.price}}</td>
                    <td>{{l.postedAt.substring(0, 10)}}</td>
                    <td><button type="button" class="btn btn-danger" ng-disabled="vm.userName==undefined" ng-click="deleteSaved(l._id)" data-dismiss="modal">Delete</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- Modal Code -->
<div class="modal fade" id="savedDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <form name="modalForm" novalidate>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
          <h4 class="modal-title" id="myModalLabel"><b>{{vm.bike.title}}</b></h4>
        </div>
        <div class="modal-body">
          <!-- Data Goes Here -->
          <p><img src="{{vm.bike.images[0]}}" class="img-thumbnail"></p>
          <p ng-show="vm.bike.description != null"><i class="fa fa-info-circle" aria-hidden="true"></i> <b>Description</b></p>
          <p ng-show="vm.bike.description != null">{{vm.bike.description.slice(48)}}</p>
          <p>&nbsp;</p>
          <table width="100%">
            <tr ng-show="vm.bike.pid != null">
              <th width="20%"><i class="fa fa-hashtag" aria-hidden="true"></i> ID</th>
              <td> <a target="_blank" href="{{vm.bike.url}}">{{vm.bike.pid}} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
            </tr>
            <tr ng-show="vm.bike.postedAt != null">
              <th width="20%"><i class="fa fa-clock-o" aria-hidden="true"></i> Posted</th>
              <td> {{vm.bike.postedAt.substring(0, 10)}}</td>
            </tr>
            <tr ng-show="vm.bike.mapUrl != null">
              <th width="20%" style="vertical-align:top;"><i class="fa fa-map-marker" aria-hidden="true"></i> Map</th>
              <td><a href="{{vm.bike.mapUrl}}" target="_blank">Open in Google Maps <i class="fa fa-external-link" aria-hidden="true"></i></a>
                  <br><a ng-show="vm.bike.mapUrl != null" ng-click="assembleMap(vm.bike.mapUrl)" target="_blank">Show Location <i class="fa fa-map" aria-hidden="true"></i></a></td>
            </tr>
            <tr ng-show="vm.bike.price != null">
              <th width="20%"><i class="fa fa-usd" aria-hidden="true"></i> Price</th>
              <td> {{vm.bike.price}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <p>&nbsp;</p>
                <div class="form-group">
                  <label for="notesArea">Notes</label>
                  <textarea ng-model="vm.bike.notes" class="form-control" id="notesArea" rows="3" style="width:100%; max-width:100%"></textarea>
              </div>
              </td>
            </tr>
          </table>
          <div ng-if="vm.bike.mapPic != null">
            <p>&nbsp;</p>
            <img src="{{vm.bike.mapPic}}" style="width: 100%; height: auto;" alt="Map of general area of listing." class="img-thumbnail">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-disabled="vm.userName==undefined" ng-click="updateNotes(vm.bike._id, vm.bike.notes)" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-danger" ng-disabled="vm.userName==undefined" ng-click="deleteSaved(vm.bike._id)" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </form>
</div>
